vendor
tests
docs
makefiles
.gitignore
.env
.env.dist
.env.test.dist
web/app_dev.php
.git
behat.yml.dist
Makefile
phpunit.xml.dist
README.md
bitbucket-pipelines.yml
.docker-sync
var/cache
var/logs
var/sessions
var/jwt