<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('var')
    ->exclude('features')
    ->exclude('config')
    ->exclude('src/Migrations')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'array_syntax' => ['syntax' => 'short'],
        'no_unreachable_default_argument_value' => false,
        'braces' => [
            'allow_single_line_closure' => true,
        ],
        'heredoc_to_nowdoc' => false,
        'phpdoc_summary' => false,
        'increment_style' => ['style' => 'post'],
        'yoda_style' => false,
        'ordered_imports' => ['sort_algorithm' => 'alpha'],
    ])
    ->setFinder($finder)
;
